<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset  = "UTF-8"  name = "viewport" content = "width=device-width, initial-scale=1"/>
		<title>Tshwarelo Mabotja</title>
		<link rel = "stylesheet" type = "text/css" href = "css/bootstrap.css" />
		<script src = "js/angular.js"></script>
		<script src = "js/app.js"></script>
		
	</head>
<body >
		<app-root></app-root>
	<nav class = "navbar navbar-default">
		<div class = "containet-fluid">
			<a class = "navbar-brand" href = "#" >#code</a>
		</div>
	</nav>
	<div class = "row">
		<div class = "col-md-2"></div>
		<div class = "col-md-8 well">
			<h3 class = "text-primary">===============================================================</h3>
			<hr style = "border-top:1px dotted #000;"/>
			<div class = "alert alert-info">Device Information 
				<button class = "btn btn-sm btn-primary pull-right" data-toggle="modal" data-target="#add_member"><span class = "glyphicon glyphicon-plus"></span></button>
			</div>
			<div class = "container-fluid">
				<br />
				<br />
				<table class = "table table-bordered alert-warning">
					<thead>
						<tr>
							<th>Device MAC</th>
							<th>Date</th>
							<th>Time in venue</th>
						</tr>
					</thead>
					<tbody>
						<tr  *ngFor = "let data of httpdata">
						    <td > {{data.device_mac}}</td>
						    <td>{{data.device_mac}}</td>
							<td ></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>	
	
</body>
<script src  = "js/jquery-3.1.1.js"></script>	
<script src  = "js/bootstrap.js"></script>	
</html>