<div style="text-align:center">
  <h1>
   Weekly Summary!
  </h1>
</div>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" style="cursor: pointer;"  routerLink="/" >Dashboard</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      
        <form class="navbar-form navbar-left">
          <div class="form-group">
          </div>
          <a routerLink = "day-cmp">Daily Summary</a> <span>|||||||||||||||||||||||||</span>
          <a routerLink = "day-cmp">Weekly Summary</a>
        </form>
  
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
<div class="container">
    <h3>================================================================================</h3>
    <h2>Device Data: Week</h2>
    <hr>
    <div class="row">
        <div class="panel panel-primary filterable">
            <div class="panel-heading">
      
            </div>
            <table class="table">
                <thead>
                    <tr class="filters">  
                        <th >Device MAC</th>
                        <th>Date</th>
                        <th>Time in vanue(Hour(s))</th>
                        <th>Time in vanue(Minute(s))</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="filters" *ngFor = "let data of httpdata">
                        <td>{{data.device_mac}}</td>
                        <td>{{data.date}}</td> 
                        <td>{{data.time_in_venue}}</td> 
                        <td>{{data.time_in_venue}}</td> 
                      </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<router-outlet></router-outlet>
